<div class="card my-5">
  <p-table
    [value]="data"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr class="text-center text-muted">
        <th style="width: 25%" class="text-muted">التذكرة</th>
        <th style="width: 15%" class="text-muted">عدد مرات الشراء</th>
        <th style="width: 15%" class="text-muted">عدد الاشخاص</th>
        <th style="width: 20%" class="text-muted truncate">السينمات</th>
        <th style="width: 20%" class="text-muted">
          <span class="ms-1"
            ><img src="../../assets/arrow-3.svg" alt=""></span>
          قيمي التذكره
        </th>
        <th style="width: 10%" class="text-muted">رقم التذكره</th>
        <th style="width: 25%" class="text-muted">المستخدم</th>
        <th style="width: 2%" class="text-muted">#</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data class="text-center">
      <tr class="text-center fw-bolder border-bottom">
        <td
          class="text-center d-flex justify-content-center align-items-center">
          <span class="rounded me-2">
          <img src="../../assets/Vaector Group.svg" alt="">
          </span>
          <span class="px-1">
            {{ data.ticket }}
          </span>
          <span class="icon-container">
            <img src="../../assets/ticket.svg" alt="">
          </span>
        </td>
        <td class="text-center">{{ data.visitNum }}</td>
        <td class="text-center">{{ data.personNum }}</td>
        <td
          class="text-center truncate"
          tooltipPosition="top"
          [pTooltip]="data.cinma"
        >
          {{ data.cinma }}
        </td>
        <td class="text-center">{{ data.ticketPrice }}</td>
        <td class="text-center">{{ data.ticketNumber }}</td>
        <td class="text-center">
          <div class="d-flex align-items-center">
            <div class="info-container">
              <h5 class="fw-bolder text-black m-0">{{ data.CustomerName }}</h5>
              <p class="m-0 fs-6 text-muted">0123456789</p>
            </div>
            <div class="photo-container ps-3">
              <img
                src="../../assets/me.jpg"
                alt="Your Photo"
                style="width: 35px; height: 35px; border-radius: 50%"
              />
            </div>
          </div>
        </td>
        <td class="text-center">{{ data.id }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
