
::ng-deep foreignObject {
  width: 50% !important;
}

@media (max-width: 1024px) {
    .mychart {
      width: 100% !important;
      margin: 0 auto;
      margin-inline: 0 !important;
    }
  }