
.chart {
  width: 890px !important;
}
.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  width: 363px !important;
  height: 39px !important;
  border: 1px;
  border-radius: 4px;
}

.input-form:focus {
  outline: none;
}

.centerIcon {
  top: 50% ;
  right: 4%;
  transform: translate(50%, -50%);
}

.edit {
  width: 78px;
  height: 34px;
}

.form-check-input {
  &:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
}

.ticket-btn{
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
  &:hover {
    background-color: #775dfd;
    border-color: #775dfd;
  }
}

@media (max-width: 1024px) {
  .second-line {
    flex-direction: column;
  }
  .card-component {
    width: 100% !important;
    text-align: center !important;
  }
  .chart-component {
    text-align: center !important;
    width: 100% !important;
  }
  .third-line {
    flex-direction: column-reverse;
  }
  .first-third-line {
    width: 55% !important;
    margin:0 auto;
  }
  .second-third-line {
    margin-inline:0;
    margin:0 auto;
    margin-bottom: 20px; 
  }
  .pi-arrow-right{
    padding: 10PX;
  }
  .pi-search{
   margin-bottom: 10px; 
  }
  .centerIcon {
    top: 29%;
    right: 4%;
    transform: translate(50%, -50%);
  }
}
